Paquets/
**/*.old
.directory
figure/*
**/*.xlsx
packrat/lib*/
**/*.o
.Rproj.user
/**/moc*.cpp
/**/*csv
/**/*.md
/**/*.ansi
/**/*.html
/**/.docx
.Rhistory
/Altaïr-SDK
/**/Altaïr
**/*.pdf
Tests/Exemple/Donnees/xhl
**/debug
**/release
lhx/cl
**/*faut.alt
