**/*.old
.directory
figure/*
**/*.xlsx
packrat/lib*/
**/*.o
.Rproj.user
/**/moc*.cpp
**/*csv
.Rhistory
/Altaïr-SDK
/**/Altaïr
**/*pdf
**/*docx
Tests/Exemple/Donnees/xhl
**/debug
**/release
lhx/cl
**/*faut.alt
