*.old
**/*.alt
.directory
figure/*
/**/*xlsx
/**/*docx
packrat/lib*/
/**/*.o
.Rproj.user
/**/moc*.cpp
**/*xhl
.Rhistory
/**/release
/**/debug
/Altaïr-SDK
/**/Altaïr
**/*csv
!Tests/Exemple/Donnees/R-Altaïr
lhx/cl
/**/Makefile*
/**/*.md
