[Desktop Entry]
Comment[fr_FR]=
Comment=
Exec=konsole -e "/home/fab/Dev/altair/Recuperer.sh"
GenericName[fr_FR]=Récupération du logiciel
GenericName=Récupération du logiciel
Icon=smartgit
MimeType=
Name[fr_FR]=Récupérer
Name=Récupérer
Path=/home/fab/Dev/altair/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
