[user]
	name = Fabrice Nicol
	email = fabrice.nicol@crtc.ccomptes.fr
[push]
	default = simple
[merge]
	renamelimit = 20000
[diff]
        tool = kdiff3
[diff "kdiff3"]
        path = /usr/bin/kdiff3
[merge]
        tool = kdiff3
[merge "kdiff3"]
        path = /usr/bin/kdiff3
[http]
#        proxy = 100.78.88.201:8001
        sslVerify = false
[https]
        sslVerify = false

[credential]
	helper = store
