[Desktop Entry]
Comment[fr_FR]=Importées des clés USB3
Comment=Importées des clés USB3
Exec=dolphin
GenericName[fr_FR]=Données XHL sur disque
GenericName=Données XHL sur disque
Icon=system-file-manager
MimeType=
Name[fr_FR]=Données
Name=Données
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
