
.title
{
   font-size: 25px;
   font-style: bolder;
   color: black;
   margin-top: 100px;
   margin-bottom: 100px;
   text-align: center;
}

.author
{
   font-size: 20px;
   font-style: bold;
   color: black;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: left;
}

.centered
 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
 }

table 
  {
      border: 2px;
      border-style: solid;
      border-color: navy;
      text-align: center;
      background: white; 
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
  }
 
 td {padding: 5px;}
 tr.fab   {background: silver; }
 
 th {background: salmon; padding: 5px;}
  
 h1
  {
   font-size: 20px;
   font-style: bolder;
   color: maroon;
   margin-top: 30px;
  }


 h2
  {
   font-size: 15px;
   font-style: bolder;
   color: navy;
   page-break-after: avoid;
  }
  
 h3
   {
    font-size: 12px;
    font-style: bold;
    color: black;
    page-break-after: avoid;
   }
   
 h6
 {
   page-break-after: always;
   visibility: hidden;
   text-align: right;
 }

 body {background: white;}
 
