*.pdf
*.ansi.R
*.docx
*gz
Donnees
altair_files
altair.log
modulesa.Rmd
modulesb.Rmd
modulesc.Rmd
modulesd.Rmd
modulese.Rmd
modulesf.Rmd
modulesg.Rmd
modulesh.Rmd
modulesi.Rmd
modulesj.Rmd
modulesk.Rmd
modulesl.Rmd
modulesm.Rmd
modulesn.Rmd
moduleso.Rmd
modulesp.Rmd
modulesq.Rmd
modulesr.Rmd
moduless.Rmd
modulest.Rmd
modulesu.Rmd
modulesv.Rmd
modulesw.Rmd
temp.tex
