[Desktop Entry]
Categories=Development;
Comment[fr]=
Comment=
Exec=LD_LIBRARY_PATH=/opt/local/lib64/ /opt/local/bin/Altair 
GenericName[fr]=Altaïr
GenericName=
Icon=/opt/local/share/altair/Altaïr.xpm
MimeType=
Name[fr]=Altaïr
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
