
codes.ass <- c("REGIE ASSAINISSEMENT AVT2010", 
"ASS SERVICE DIRECTION AVT2010", 
"ASS ADMINI. GENERALE AVT2010", 
"ASS COORD. TECHNIQUE AVT2010", 
"ASS MAITRISE D OUVRAGE AVT2010", 
"ASS EXPLOITATION AVT2010", 
"ASS SECTEUR 1 AVT2010", 
"ASS SECTEUR 2 AVT2010", 
"ASS SECTEUR 3 AVT2010", 
"ASS SECTEUR 4 AVT2010", 
"ASS SECTEUR 5 AVT2010", 
"ASS ELECTROMECANIQUE AVT2010",
"DST ASSAINISSEMENT", 
"ASS SERVICE DIRECTION", 
"ASS ADMINISTRATIF ET FINANCIER", 
"ASS GESTION TECH REGLEMENTAIRE", 
"ASS PLANIF SUIVI TVX GEST PAT", 
"ASS EXPLOITATION ENTRETIEN", 
"ASS SECTEUR 1", 
"ASS SECTEUR 2", 
"ASS SECTEUR 3", 
"ASS SECTEUR 4", 
"ASS SECTEUR 5", 
"ASS ELECTROMECANIQUE", 
"ASS AQUAPOLE") 
