table 
  {
      border: 2px;
      border-style: solid;
      border-color: navy;
      text-align: center;
      background: white; 
      margin-top: 20px;
      margin-bottom:50px;
      margin-left: 110px;
      page-break-inside: avoid;
  }
 
 td {padding: 5px;}
 tr.fab   {background: beige; }
 
 th {background: salmon; padding: 5px;}
  
 h1
  {
   font-size: 20px;
   font-style: bolder;
   color: maroon;
   margin-top: 30px;
   page-break-before: always;
  }


 h2
  {
   font-size: 15px;
   font-style: bolder;
   color: navy;
   page-break-after: avoid;
  }
  
 h3
   {
    font-size: 12px;
    font-style: bold;
    color: black;
    page-break-after: avoid;
   }
   

